.container {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}

/* ============================================= */
/* Container1 */

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../images/Container1Bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container1::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* степень затемнения */
  z-index: 1;
}

/* Контент внутри контейнера должен быть выше затемнения */
.container1 > * {
  position: relative;
  z-index: 2;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1304px !important;
  height: 100dvh;
}

.box {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100% !important;
  max-width: 1304px !important;
}

.block {
  display: flex;
  flex-direction: column;
  /* width: 739px; */
  gap: 37px;
  /* outline: 1px solid red; */
  color: #fff;
}

.block span:nth-of-type(1) {
  font-size: 64px;
  font-weight: 600;
}

.block span:nth-of-type(2) {
  width: 560px;
  line-height: 150%;
  font-size: 16px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: inherit;
  padding: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttons button:hover {
  background-color: #e55645;
  border: 1px solid #e55645;
}

.blockBottom {
  display: flex;
  flex-direction: column;
  gap: 37px;
  position: absolute;
  left: 0;
  bottom: 53px;
  color: #fff;
}

.blockBottom span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.contact {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    position: relative;
    background-image: url('../images/Container1Bg.png');
    background-repeat: no-repeat;
    background-size: 150%;
    
    padding: 20px;
  }

  .container1::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); /* степень затемнения */
    z-index: 1;
  }

  /* Контент внутри контейнера должен быть выше затемнения */
  .container1 > * {
    position: relative;
    z-index: 2;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 768px !important;
    height: 100dvh;
  }

  .box {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100% !important;
    max-width: 768px !important;
  }

  .block {
    display: flex;
    flex-direction: column;
    /* width: 739px; */
    gap: 37px;
    /* outline: 1px solid red; */
    color: #fff;
  }

  .block span:nth-of-type(1) {
    font-size: 24px;
    font-weight: 600;
  }

  .block span:nth-of-type(2) {
    max-width: 560px;
    width: 100%;
    line-height: 150%;
    font-size: 14px;
    font-weight: 700;
  }

  .buttons {
    display: flex;
    gap: 16px;
  }

  .buttons button {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: inherit;
    padding: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .buttons button:hover {
    background-color: #e55645;
    border: 1px solid #e55645;
  }

  .blockBottom {
    display: flex;
    flex-direction: column;
    gap: 37px;
    position: absolute;
    left: 0;
    bottom: 53px;
    color: #fff;
  }

  .blockBottom span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
  }

  .contact {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}

/* Container1*/

/* =============================================*/

/* Container2 */

.container2 {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  width: 100%;
  max-width: 1304px;
}

.container2Left {
  padding: 95px 0;
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.container2Left span:nth-of-type(1) {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.container2Left span {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #8c93a6;
}

.container2Right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2RightBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 449px;
  border: 1px solid #00000026;
  background-color: #fff;
  height: 645px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
}

.container2RightBlock span {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.container2RightBlock input {
  height: 37px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid #9d9d9d;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 500;
}

.container2RightBlock textarea {
  height: 67px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid #9d9d9d;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 500;
}

.captcha {
  display: flex;
  width: 100%;
  align-items: end;
  gap: 20px;
}

.captchaWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.captchaImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.captchaCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: crosshair;
}

.container2RightBlock button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  width: 260px;
  height: 51px;
  background-color: #fafafa;
  border: 1px solid #9d9d9d;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.container2RightBlock button:hover {
  background-color: #e55645;
  border: 1px solid #e55645;
  color: #fff;
}

/* Container2 */
/* =============================================*/
/* Container3 */

.container3 {
  display: none;
  width: 100%;
}

.container3Block {
  display: flex;
  width: 100%;
  height: 100%;
  /* min-height: 810px; */
}

.container3BlockEl {
  display: flex;
  flex-direction: column;
  width: 20% !important;
  padding: 36px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container3BlockEl:nth-of-type(1) {
  background-image: url('../images/container3-1.png');
}

.container3BlockEl:nth-of-type(2) {
  background-image: url('../images/container3-2.png');
}

.container3BlockEl:nth-of-type(3) {
  background-image: url('../images/container3-3.png');
}

.container3BlockEl:nth-of-type(4) {
  background-image: url('../images/container3-4.png');
}

.container3BlockEl:nth-of-type(5) {
  background-image: url('../images/container3-5.png');
}

.container3BlockEl span:nth-of-type(1) {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.container3BlockEl span:nth-of-type(2) {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-top: 100px;
}

.container3BlockEl span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 150%;
  margin-top: 60px;
}

.container3BlockEl span:nth-of-type(4) {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 150%;
  margin-top: 32px;
}

.container3BlockEl:nth-of-type(5) span:nth-of-type(3) {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 150%;
  margin-top: 32px;
}

/* Container3 */
/* =============================================*/
/* Container4 */
/* Container4 */
/* =============================================*/
/* Container5 */
/* Container5 */
/* =============================================*/
/* Container6 */
/* Container6 */
/* =============================================*/
/* Container */
/* Container */
/* =============================================*/
/* Container */
/* Container */
/* =============================================*/
