.container {
  width: 100%;
}

/* ============================================= */
/* Container1 */

.container1 {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../images/Container1Bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container1::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* степень затемнения */
  z-index: 1;
}

/* Контент внутри контейнера должен быть выше затемнения */
.container1 > * {
  position: relative;
  z-index: 2;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1304px !important;
  height: 100dvh;
}

.box {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100% !important;
  max-width: 1304px !important;
}

.block {
  display: flex;
  flex-direction: column;
  /* width: 739px; */
  gap: 37px;
  /* outline: 1px solid red; */
  color: #fff;
}

.block span:nth-of-type(1) {
  font-size: 64px;
  font-weight: 600;
}

.block span:nth-of-type(2) {
  width: 560px;
  line-height: 150%;
  font-size: 16px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: inherit;
  padding: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.buttons button:hover {
  background-color: #e55645;
  border: 1px solid #e55645;
}

.blockBottom {
  display: flex;
  flex-direction: column;
  gap: 37px;
  position: absolute;
  left: 0;
  bottom: 53px;
  color: #fff;
}

.blockBottom span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.contact {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

/* Container1*/

/* =============================================*/

/* Container2 */

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  width: 100%;
  max-width: 1304px;
}

.container2Left {
  padding: 95px 0;
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.container2Left span:nth-of-type(1) {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}

.container2Left span {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #8c93a6;
}

.container2Right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2RightBlock {
  display: flex;
  flex-direction: column;
  width: 449px;
}

.captchaWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.captchaImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.captchaCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: crosshair;
}

/* Container2 */
/* =============================================*/
/* Container3 */
/* Container3 */
/* =============================================*/
/* Container4 */
/* Container4 */
/* =============================================*/
/* Container5 */
/* Container5 */
/* =============================================*/
/* Container6 */
/* Container6 */
/* =============================================*/
/* Container */
/* Container */
/* =============================================*/
/* Container */
/* Container */
/* =============================================*/
