.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 776px;
  background-color: #000322;
}

.containerBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1304px;
  color: #fff;
}

.containerBlockTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 371px;
  padding-bottom: 42px;
}

.containerBlockTopLeft {
  display: flex;
  flex-direction: column;
  width: 553px;
}

.containerBlockTopLeft span:nth-of-type(1) {
  font-size: 36px;
  font-weight: 700;
}

.containerBlockTopLeft span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 25px;
}

.containerBlockTopLeft span:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.containerBlockTopLeft span:nth-of-type(3) button:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  color: #e55645;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.containerBlockTopLeft span:nth-of-type(3) button:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 20px 35px;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.containerBlockTopRight img{
width: ;
}

.containerBlockBottom {
  width: 100%;
  height: 405px;
}
