.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: white;
  font-family: sans-serif;
}

.carouselWrapper {
  width: 900px;
  overflow: hidden;
  margin-bottom: 30px;
}

.carouselTrack {
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}

.slide {
  flex: 0 0 25%; /* 4 элемента по 25% */
  margin: 0 8px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
  transform: scale(0.9);
  height: 180px;
}

.center {
  transform: scale(1.2);
  opacity: 1;
  z-index: 2;
  height: 300px;
}

.left, .right {
  opacity: 0.7;
  transform: scale(1);
}

.textBlock {
  max-width: 700px;
  text-align: center;
}

.textBlock h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.textBlock p {
  font-size: 14px;
  color: #555;
}

.controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
