.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container3Block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1304px;
  gap: 60px;
}

.container3BlockTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

@media (max-width: 768px) {
}
