.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1304px;
  padding: 89px 0;
}

.container2BlockLeft {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.container2BlockLeft span:nth-of-type(1) {
  font-size: 48px;
  font-weight: 700;
}

.container2BlockLeft span:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #8c93a6;
  line-height: 150%;
}

.container2BlockLeft span:nth-of-type(2) img {
  width: 14px;
  height: 18px;
}

.container2BlockCenter {
  width: 511px;
  font-size: 20px;
  font-weight: 400;
  color: #8c93a6;
  line-height: 50px;
}

.container2BlockRight {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;
}

.container2BlockRight span {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;\
  
}

@media (max-width: 768px) {
}
