.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1304px;
}

.container2BlockText {
  width: 100%;
  max-width: 1304px;
  padding: 62px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}

@media (max-width: 768px) {
}
