.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1304px;
  padding: 87px 0;
}

.container2BlockLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 33px;
}

.container2BlockLeft span:nth-of-type(1) {
  font-size: 48px;
  font-weight: 700;
}

.container2BlockLeft span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #8c93a6;
}

.container2BlockLeft span:nth-of-type(3) {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #8c93a6;
}

.container2BlockLeftBottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 100px;
}

.container2BlockLeftBottomEl {
  display: flex;
  width: 40%;
  gap: 16px;
}

.container2BlockLeftBottomEl span:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container2BlockLeftBottomEl span:nth-of-type(1) img {
  height: 20px;
}

.container2BlockLeftBottomElRight {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.container2BlockLeftBottomElRight span:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: inherit;
  border-radius: 0;
  width: 180px;
  line-height: 150%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
}

.container2BlockLeftBottomElRight span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: inherit;
  border-radius: 50%;
  width: 210px;
  height: 24px;
  font-size: 16px !important;
  font-weight: 400;
  color: #8c93a6;
  line-height: 150%;
}

.container2BlockRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container2BlockRightForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 449px;
  padding: 52px 43px;
  gap: 51px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container2BlockRightForm span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.container2BlockRightFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.container2BlockRightFormInput input {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  background-color: #fafafa;
  height: 37px;
}

.container2BlockRightFormInput textarea {
  display: flex;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: 1px solid #9d9d9d;
  border-radius: 10px;
  background-color: #fafafa;
  height: 108px;
}

.container2BlockRightForm button {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 53px;
  border-radius: 50px;
  border: none;
}

@media (max-width: 768px) {
}
