.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1304px;
  padding: 87px 0;
}

.container2BlockLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 33px;
}

.container2BlockLeft span:nth-of-type(1) {
  font-size: 48px;
  font-weight: 700;
}

.container2BlockLeft span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #8c93a6;
}

.container2BlockLeft span:nth-of-type(3) {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #8c93a6;
}

.container2BlockLeftBottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 100px;
}

.container2BlockLeftBottomEl {
  display: flex;
  width: 40%;
  gap: 16px;
}

.container2BlockLeftBottomEl span:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container2BlockLeftBottomEl span:nth-of-type(1) img {
  height: 20px;
}

.container2BlockLeftBottomElRight {
  display: flex;
  flex-direction: column;
}

.container2BlockLeftBottomElRight span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
  background-color: inherit;
}

.container2BlockRight {
  display: flex;
  width: 50%;
}

@media (max-width: 768px) {
}
