.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96px;
  margin-bottom: -96px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1304px;
  background-color: inherit;
  z-index: 1;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 54px;
}

.headerLeft img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.headerRight {
  display: flex;
  width: 100%;
  max-width: 954px;
}

.navigate {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 3px;
  /* outline: 3px solid red; */
}

.navigate a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 4px;
  border-bottom: 1px solid inherit;
}

.navigate a:hover {
  color: #e55645;
  border-bottom: 1px solid #e55645;
  transition: color 0.6s ease;
}

.w {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  width: 84px !important;
  height: 40px !important;
  cursor: pointer;
  transition: none;
  padding-bottom: 0;
  border-bottom: none;
  background-color: #e55645 !important;
  border-radius: 10px;
}

.w:hover {
  color: #fff !important;
  border-bottom: none;
  transition: color 0.6s ease;
}
