.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container2Block {
  display: flex;
  gap: 53px;
  width: 100%;
  max-width: 1304px;
  padding: 110px 0;
}

.container2Block img {
  width: 559px;
  height: 640px;
}

.container2BlockRight {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 0 39px;
  gap: 35px;
  width: 530px;
}

.container2BlockRight span:nth-of-type(1) {
  font-size: 40px;
  font-weight: 700;
}

.container2BlockRight span:nth-of-type(2) {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #8c93a6;
}

.container2BlockRightBottom {
  display: flex;
  gap: 69px;
  margin-top: 40px;
}

.container2BlockRightBottomLeft {
  display: flex;
  flex-direction: column;
  gap: 43px;
  /* outline: 1px solid red; */
}

.container2BlockRightBottomRight {
  display: flex;
  flex-direction: column;
  gap: 43px;
  /* outline: 1px solid red; */
}

.container2BlockRightBottom img {
  width: 29px;
  height: 29px;
}

.container2BlockRightBottom span {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px !important;
  font-weight: 400 !important;
  color: #8c93a6;
  line-height: 150%;
}

@media (max-width: 768px) {
}
