.container4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container4Block {
  display: flex;
  width: 100%;
  max-width: 1304;
}

@media (max-width: 768px) {
}
