.container5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

.container5Block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1304px;
  gap: 40px;
}

.container5Block span {
  font-size: 48px;
  font-weight: 700;
}

.container5BlockGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container5BlockGroupEl {
  display: flex;
  flex-direction: column;
  width: 22%;
}

.container5BlockGroupEl span:nth-of-type(1) {
  display: flex;
  align-items: center !important;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #e55645;
  height: 30px;
}

.container5BlockGroupEl span:nth-of-type(1) span {
  height: 0.1px;
  width: 100%;
  border-bottom: 0.1px solid #e55645;
}

.container5BlockGroupEl span:nth-of-type(2) {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.container5BlockGroupEl span:nth-of-type(3) {
  font-size: 20px;
  font-weight: 400;
  color: #8c93a6;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .container5 {
  }

  .container5Block {
    padding: 20px;
  }

  .container5Block span {
    font-size: 24px;
    font-weight: 700;
  }

  .container5BlockGroup {
    flex-direction: column;
    gap: 40px;
  }

  .container5BlockGroupEl {
    width: 100%;
  }

  .container5BlockGroupEl span:nth-of-type(1) {
    gap: 10px;
    font-size: 20px;
  }

  .container5BlockGroupEl span:nth-of-type(1) span {
  }

  .container5BlockGroupEl span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }

  .container5BlockGroupEl span:nth-of-type(3) {
    font-size: 16px;
    font-weight: 400;
    color: #8c93a6;
    margin-top: 14px;
  }
}
